<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register form</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <h3>REGISTRATION FORM</h3><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your mail"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="confirm password"><br>

    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>